html {
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  height: auto;
  width: 100%;
}

.tailwindDoesntHaveRotateY😭 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120vh;
  // transform: rotateY(180deg);
}

.rain {
  border-radius: 50%;
  --angle: 0deg;

  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;

  animation: 7s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
